#img4,
#block4 {
  width: 545px;
  height: 665px;
  margin-right: 18px;
  margin-bottom: 18px;
  border-radius: 15px;
}
#img5,
#block5 {
  width: 545px;
  height: 495px;
  border-radius: 15px;
}
#img6,
#block6 {
  width: 837px;
  height: 454px;
  margin-bottom: 18px;
  border-radius: 15px;
}
#img7,
#block7 {
  width: 412px;
  height: 359px;
  margin-right: 18px;
  margin-bottom: 18px;
  border-radius: 15px;
}
#img8,
#block8 {
  width: 412px;
  height: 329px;
  border-radius: 15px;
}
#img9,
#block9 {
  width: 407px;
  height: 706px;
  border-radius: 15px;
}

// #btnID4 {
// }
// #btnID5 {
// }
// #btnID6 {
// }
// #btnID7 {
// }
// #btnID8 {
// }
// #btnID9 {
// }
